<div id="list_models" class="list_model_info">
 <ul>
    <% list.each do |model|%>
      <li>
        <%= link_to_remote model,:url => {:controller => 'easy_datas', 
                                          :action => :model_attributes_info, 
                                          :model => model},
                                 :update => "info_models"
        %>  
      </li>
    <%end%>
 </ul>
</div>

<div id="info_models" class="ed_info_models">

    <span class="title_data_publications">Bienvenido al sistema de información de la interfaz RDF del proyecto <%#= proyect%></span>
<p>
    En el panel izquierdo se listan los modelos de la aplicación  de los cuales se han publicado sus datos para acceso mediante URI's desreferenciables. Si pincha sobre cualquiera de ellos podrá visualizar los datos publicados de éstos. Los datos se dividen en atributos, que son propios del modelo y que lo describen y, asociaciones con otros modelos. De esta forma tendrá una visión de la información que puede consultar a la aplicación mediante la interfaz RDF de la que dispone.
</p>
<p>
    Si tiene alguna duda sobre el funcionamiento o el modo de acceso a los datos publicados y no encuentra soluci&oacute;n aqu&iacute; puede enviarnos un email de consulta a <%#= email_admin%>.
</p>
<p>
    Un saludo.
</p>





</div>
