<div id="list_models" class="list_model_info">
 <ul>
    <% list.each do |model|%>
      <li>
        <span class="model"><%= link_to_remote model,:url => {:controller => 'easy_datas', 
                                          :action => :model_attributes_info, 
                                          :model => model},
                                 :update => "info_models"
                            %>
        </span>  
      </li>
    <%end%>
 </ul>
</div>

<div id="info_models" class="ed_info_models">

    <span class="title_data_publications">Wellcome to the information system interface of the proyect's RDF</span>
<p>
    In the left pannel, it's list the application's models which the data have publicated on them to access by URI's. If you click in any of them, you can see the data of theses models. The data are divided in attributes which belong to the data model and describe him, and associations with others data model. This way you have a look of the publicated information which you can query to the application by the RDF interfaces which you can use.
</p>
<%if !@settings["project"]["contact_email"].nil?%>
<p>
    Si tiene alguna duda sobre el funcionamiento o el modo de acceso a los datos publicados y no encuentra soluci&oacute;n aqu&iacute; puede enviarnos un email de consulta a <img href="mailto:<%= @settings["project"]["contact_email"]%>" alt="Email"/>.
</p>
<%end%>

</div>
