<div id="easy_data_footer" class="easy_data_footer">
  <a href="https://rubygems.org/gems/easy_data" title="Web Project EasyData"><%= image_tag(image_path("/stylesheets/easy_data/images/logo_ft.png"))%></a>
</div>
