<div id="list_models" class="list_model_info">
 <ul>
    <% @list.each do |model|%>
      <% if File.exists?("public/images/linked_data_graphs/linked_data_#{model}.png")%>
       <li> 
         <span class="model"><%= link_to model,:url => {:controller => "easy_datas",
                                                               :action => "load_linked_data_graph", 
                                                               :model => model},
                                               :update => "info_models",
                                               :remote => true   
                              %> 
         </span> 
       </li>
      <%end%>
    <%end%>
 </ul>
</div>

<div id="info_models" class="ed_info_models">
</div>
