<div class="ed_main_menu">
  <ul>
    <li class="layer_menu"><%= "#{(@settings["project"]["name"] rescue nil)} - "%>Data Publications Information</li>
    <li class="menu_link"><%= link_to "Data Publications",{:controller => "easy_datas",:action => "info_easy_data"},
                                                                  {:title => "Data Publications"}
                          %>
    </li>
    <li class="menu_link"><%= link_to_remote "Linked Data",:url => {:controller => "easy_datas",:action => "load_linked_data_graph"},
                                                           :update => "information_content",
                                                           :html => {:title => "Linked Data"}
                          %>
    </li>
    <!--<li class="menu_link"><%#= link_to_remote "Access to Data", :url => {:controller => "easy_datas", :action => "access_to_data"},
                                                               :update => "information_content",
                                                               :html => {:title => "How to access to data publications?"}
                          %>
    </li>
    <li class="menu_link"><%#= link_to_remote "Quiz", :url => {:controller => 'easy_datas',:action => 'faq'},
                                                     :update => "information_content",
                                                     :html => {:title => "Any questions?"}
                          %>
    </li>-->
  </ul>
</div>
