<div class="ed_main_menu">
  <ul>
    <li class="layer_menu"><a href="https://rubygems.org/gems/easy_data" title="Home page Easy Data project">Easy Data - Publication Data's Information</a></li>
    <li class="menu_link"><%= link_to_remote "Data Publications",:url => {:controller => "easy_datas",:action => "data_publicated"},:update => "information_content"%></li>
    <li class="menu_link"><%= link_to_remote "Linked Data",:url => {:controller => "easy_datas",:action => "load_linked_data_graph"},:update => "information_content"%></li>
    <li class="menu_link"><%= link_to_remote "Access to Data", :url => {:controller => "easy_datas", :action => "access_to_data"},:update => "information_content"%></li>
    <li class="menu_link"><%= link_to_remote "FAQ", :url => {:controller => 'easy_datas',:action => 'faq'},:update => "information_content"%></li>
  </ul>
</div>
