<div class="ed_main_menu">
  <ul>
    <li class="layer_menu"><%= "#{(@settings["project"]["name"] rescue nil)} - " %>Custom RDF Information</li>
    <li class="menu_link"><%= link_to "Custom Rdf", {:controller => "easy_datas", :action => "custom_rdf"},
                                      {:title => "Custom RDF information"}
                          %>
    </li>
    <li class="menu_link"><%= link_to "Settings", :url => {:controller => "easy_datas", :action => "view_settings"},
                                                  :update => "custom_content",
                                                  :html => {:title => "Project Settings"},
                                                  :remote => true
                          %>
    </li>
    <li class="menu_link refresh"><%= link_to "Refresh Models", :url => {:controller => "easy_datas", :action => "refresh_information"},
                                              :html => {:title => "Refresh Models list"}
                                  %>
    </li>
  </ul>
</div>
