<% if @model_attributes["attributes"]%>
 <span class="data_info"> Attributes: </span>
 <ul>
  <%@model_attributes["attributes"].keys.each do |att|%>
   <li><%=att%></li>
  <%end%>
</ul>
<%end%>
<%if @model_attributes["associations"] %>
<span class="data_info"> Associations: </span>
<ul>
  <%@model_attributes["associations"].keys.each do |assoc|%>
    <li><%=assoc%></li>
  <%end%>
</ul>
<%end%>

