<% form_remote_tag :url => {:controller => 'easy_datas',:action => "custom_attributes",:model => @model},
                   :update => "#{@model}_attributes" do -%>
<div id="list_attributes" class="model_attributes">
   <!-- Attributes -->
   <span>Attributes</span>
   <%= render :partial => "list_properties_edit",:locals => {:attributes => @model_attributes["attributes"],:model => @model,:namespaces => @namespaces,:type => "attributes"}%>
   <!--Associations-->
   <span>Associations</span>
   <%= render :partial => "list_properties_edit",:locals => {:attributes => @model_attributes["associations"],:model => @model,:namespaces => @namespaces,:type => "associations"}%>
<%= submit_tag "Send" %>
<%= link_to_function "[Close]","Effect.Fade('#{@model}_attributes',{duration: .3})",:class=>"close_list"%>
<%end -%>
</div>
