<% if @model_attributes["attributes"]%>
<h2> Attributes: </h2>
<ul>
  <%@model_attributes["attributes"].keys.each do |att|%>
   <li><%=att%></li>
  <%end%>
</ul>
<%end%>
<%if @model_attributes["associations"] %>
<h2> Associations: </h2>
<ul>
  <%@model_attributes["associations"].keys.each do |assoc|%>
    <li><%=assoc%></li>
  <%end%>
</ul>
<%end%>
