<div id="list_attributes" class="model_attributes">

<%if @model_attributes.respond_to?:each%>
   <!-- ATTRIBUTES -->
   <span>Resource Attributes</span>
   <%= render :partial => "list_properties",:locals => {:attributes => @model_attributes["attributes"]} %> 
   <span>Associations whit others Resources</span>
   <!--ASSOCIATIONS-->
   <%= render :partial => "list_properties",:locals => {:attributes => @model_attributes["associations"]} %> 
<%else%>
 <span>Model no found</span>
<%end%>
<span>
     <%= link_to_remote "Edit",:url => {:controller => 'easy_datas', 
                                        :action => :model_attributes_edit, 
                                        :model => @model},
                               :update => "#{@model}_attributes",
                               :success => "Effect.Appear('#{@model}_attributes', { duration: 0.4 })",
                               :failure => "alert('Ooops! An error occurred.')"                
     %>
</span>

 <%= link_to_function "[Close]","Effect.Fade('#{@model}_attributes',{duration: .3})",:class=>"close_list"%>

</div>


