<%= render :partial => "menu_custom"%>
<%if @models.respond_to?:each%>
<div id="custom_content" class="ed_info_content">
  <div id="list_models" class="list_model_info">
   <span class="title">Models List</span>
   <ul>
    <%@models.each do |model|%>
     <li class="list_model">
          <span id="ls_<%= model%>" class="model"><%= link_to_remote model,:url => {:controller => 'easy_datas', 
                                                       :action => :model_attributes, 
                                                       :model => model},
                                                  :update => "model_attributes",
                                                  :after => "$('ls_#{model}').className = 'model_active';",
                                                  :success => "Effect.Appear('model_attributes', { duration: 0.4 });",
                                                  :failure => "alert('Ooops! An error occurred.')"                
                                                 %>
          </span>
     
      </li>
    <%end%>
   </ul>
  </div>
  <div id="model_attributes" class="ed_info_models" style="display:none"></div>
</div>
<%else%>
 <h3> Not list model </h3>
<%end%>

