<h2>Custom Rdf Information</h2>
<span><%= link_to "[Logout]", :controller => "easy_datas",:action => "logout" %></span>
<hr/>
<%if @models.respond_to?:each%>
<div id="list_models" class="list_model_info">
 <ul>
   <%@models.each do |model|%>
     <li class="list_model">
          <h2><%= model %></h2>
          <span id="open_<%=model%>"><%= link_to_remote "Abrir",:url => {:controller => 'easy_datas', 
                                                    :action => :model_attributes, 
                                                    :model => model},
                                           :update => "#{model}_attributes",
                                           :success => "Effect.Appear('model_attributes', { duration: 0.4 });
                                                        Effect.Fade('open_#{model}')",
                                           :failure => "alert('Ooops! An error occurred.')"                
                 %>
          </span>
     
     </li>
   <%end%>
 </ul>
</div>
<div id="model_attributes" class="ed_info_models" style="display:none"></div>

<%else%>
 <h3> Not list model </h3>
<%end%>
