<h2>Easy Data: Information</h2>

<%= render :partial => "menu" %>

<div id="information_content" class="ed_info_content">
  <%= render :partial => "data_publications", :locals => {:list => @list} %>
</div>
